<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi {{username}}</h1>
    <p>It seems that you havent checked the app recently. Hope you are doing well, just some conetent for you to catch up</p>
    <p>Here are some of the best songs from the app</p>
    <ul>
        {% for song in songs %}
            <li>{{song.song_name}}</li>
        {% endfor %}
    </ul>
</body>
</html>